<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
</head>
<body>
Команда <b>{{ (team or "").decode('utf-8') }}</b>.<br/>
{{ (toptext or "").decode('utf-8') }}
<hr/>
<b>Задание</b><br/> 
{{ (task or "").decode('utf-8')|safe }}
<hr/>
<br/>
{% if not epic %}
<form method='POST'>
{% if not empty %}
<input type="text" name="answer"/>
<input type="submit" value="А ну-ка!"/>
{% else %}
<input type="hidden" name="answer"/>
<input type="submit" value="Я пришёл!"/>
{% endif %}
</form>
{% endif %}
</body>
</html>
